# Confugiración DB
DB_HOST=db
DB_HOST_LOCAL=localhost
USER=asisya_admin
PASSWORD=4sisy4_Pru3b4
DB_NAME=asisya_catalog
PORT_DB=5432

#Configuración JWT
JWT_KEY=Prueba_Asisya_Docker_PostgreSQL_SDK_8_Clave_Super_Secreta_2026_03_09_Dev_||
JWT_ISSUER=AsisyaAPI
JWT_AUDIENCE=AsisyaFront

#Configuración API:
PORT_API=5000
STAGE=Development